<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="setting.css">
    <meta charset="utf-8">
    <title>SignUp html</title>
</head>

<body>
    <h2>Your RSA KEY will send to your email, so please give a valid email account.</h2>
    {% if errorMsg == "SameEmail" %}
        <p style="color: red;font-size: large;">The Email has already been used, please change a new one!</p>
    {% endif %}

	{% if name == ""%}
	<form method="post">
        <label for="Email">Email:</label><br>
        <input type="email" name="email" required><br><br>
		<input type="submit" name="send" value="SEND">
	</form>
    {% endif %}
    <a href="/">Go Back</a>
</body>
</html>